{% extends "authentication/base.html" %}

{% block title %}Password Reset Done{% endblock %}

  {% block sub_title %}Check Your Email{% endblock %}

{% block form %}
<div class="container mt-5">
  <p class="text-gray-600 mb-6 text-center">We've sent a password reset link to your email. Please check your inbox. Follow the link to reset your password.</p>
</div>
{% endblock %} 

{% block form_footer %}
<p class="mt-4 text-center text-gray-600 text-sm">
    <a href="{% url 'authentication:login' %}" class="text-green-600 hover:underline">Login</a>
</p>
{% endblock %}