{% extends 'authentication/base.html' %}

{% block sub_title %}Set New Password{% endblock %}

{% block form %}
<p class="mb-4 text-green-700 bg-green-100 border border-green-300 rounded px-4 py-2 text-center">
    A reset code has been sent to your email. Please enter it below with your new password.
</p>
<form class="space-y-6" action="#" method="POST">
    {% csrf_token %}
    <div>
      <label for="code" class="block text-sm/6 font-medium text-gray-900">Reset Code</label>
      <div class="mt-2">
        {{ form.code }}
      </div>
    </div>
    <div>
      <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
      <div class="mt-2">
        {{ form.password }}
      </div>
    </div>
    <div>
      <label for="confirm_password" class="block text-sm/6 font-medium text-gray-900">Confirm Password</label>
      <div class="mt-2">
        {{ form.confirm_password }}
      </div>
    </div>
    <div>
      <button type="submit" class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Set Password</button>
    </div>
  </form>
{% endblock %}

{% block form_footer %}
<p class="mt-4 text-center text-gray-600 text-sm">
    <a href="{% url 'authentication:login' %}" class="text-green-600 hover:underline">Back to Login</a>
</p>
{% endblock %} 