# private environment files
.env

# virtual environment name
.venv

# all separate migrations
/migrations/

# python cache
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw

# django pycache
/_pycache/

# django migrations
authentication/migrations/
/apps/*/migrations/

# ml engine
# /ml/data/
# /ml/models/

# database
db.sqlite3
*.sqlite3

# logs
logs/
*.log

# media files
mediafiles/
staticfiles/



