# private environment files
.env

# virtual environment name
.venv

# all separate migrations
/migrations/


*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw

/_pycache/
authentication/migrations/






